/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* 横幅90% */
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

/* headerタグ内のheadingクラスにのみ反映させる */
header .heading {
  font-size: 32px;
}

.nav-list {
  /* 文字を中央寄せ */
  text-align: center;
  /* 内側余白（パディング）の上下を10px,左右を0にする */
  padding: 10px 0;
  /* 外側余白（マージン）の上下を0,左右を自動にする */
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  /* 外側余白（マージン）の上下を0,左右を20pxにする */
  margin: 0 20px;
}

.main-visual {
  /* 横幅いっぱい */
  width: 100%;
  /* 高さ300px */
  height: 300px;
  /* 背景をimgフォルダのmv.jpgにする */
  background-image: url(img/mv.jpg);
  /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-size: cover;
  /* 背景画像を中央に配置 */
  background-position: center;
}

.main-visual-text {
  color: #fff;
}

.main-visual-name {
  /* 上側の外側の余白 */
  margin-top: 30px;
  color: #fff;
}

.main-visual-content {
  /* 横幅40% */
  width: 40%;
  /* 親の高さに変える */
  height: 300px;
  /* 背景色を半透明の黒にする */
  background-color: rgba(0, 0, 0, 0.5);
  /* 文字を中央揃えにする */
  text-align: center;
  /* 上側の内側余白で垂直方向の位置を調整 */
  padding-top: 105px;
}

main {
  width: 800px;
  /* flexboxの利用 */
  display: flex;
  /* 要素の横並び・中央寄せ */
  justify-content: center;
  /* 要素の中央揃え */
  margin: 0 auto;
  /* 上下に70px,左右に0pxの内側余白 */
  padding: 70px 0;
}

.blog {
  width: 540px;
  /* 領域の右側余白 */
  margin-right: 30px;
}

.blog-heading {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
  color: #3f3c3c;
}

.blog-box {
  padding-top: 50px;
}

.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
  /* flexboxの利用 */
  display: flex;
  justify-content: flex-start;
}

.blog-image {
  height: 180px;
}

.blog-text {
  padding: 25px 0 0 30px;
}

.blog-text-heading {
  padding-bottom: 15px;
}

.blog-date {
  font-size: 12px;
  display: inline-block;
}

.category {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

.pagination {
  text-align: center;
  padding-top: 50px;
}

.pagination p {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: #fff;
  background-color: #acabab;
  border-radius: 3px;
  line-height: 30px;
}

.sidebar {
  width: 230px;
}

.common-heading {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  /* ラインハイトは行ボックスの高さを司る 値をへらすとキッツキツに */
  line-height: 0.6;
}

.sidebar-contents {
  padding: 50px 0;
}

.popular-text,
.categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
}

.popular-text:last-child,
.category-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.instagram .sidebar-contents {
  display: flex;
  flex-wrap: wrap;
}

.instagram-box {
  width: 110px;
  padding-top: 110px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.instagram-box:nth-child(odd) {
  margin: 0 10px 10px 0;
}

.instagram-box:nth-child(1) {
  background-image: url(img/airport.jpg);
}

.instagram-box:nth-child(2) {
  background-image: url(img/japan.jpg);
}

.instagram-box:nth-child(3) {
  background-image: url(img/snow.jpg);
}

.instagram-box:nth-child(4) {
  background-image: url(img/japan2.jpg);
}

.instagram-box:nth-child(5) {
  background-image: url(img/lake.jpg);
}

.instagram-box:nth-child(6) {
  background-image: url(img/road.jpg);
}

footer {
  /* 横幅いっぱい */
  width: 100%;
  /* 高さ120px */
  height: 120px;
  /* テキストアライン（中央揃え） */
  text-align: center;
  /* 行の高さ（ラインハイト）、つまり行と行の間隔を120pxに設定 */
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  /* footer-textを白にする */
  color: #fff;
}
